body {
  background-color: purple;
}
h1 {
  text-shadow: 4px, 2px;
  color: #00c3ff;
}
p1 {
  color: #d171de;
}
p1:hover { 
  color: #ff0000;
  }
p2 {
  writing-mode: vertical-rl;
  color: #55ff00;
}
